<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>Аккаунт</title>
  <link rel="stylesheet" type="text/css" href="./css/global.css">
</head>

<body>
    <main>
        <h1>Личный кабинет</h1>
    </main>
</body>

</html>
