<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Рекламный блок</title>
  <link id="theme" rel="stylesheet" type="text/css" href="./css/{{theme}}-theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Raleway&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div class="header_inner">
      <div class="header_logo">Sundress</div>
      <nav class="navigation">
        <a class="nav_link" href="/">Сотрудничество</a>
        <a id="change-theme" class="nav_link">Изменить тему</a>
        <a class="nav_link" href="/catalog">Вернуться в магазин</a>
      </nav>
    </div>
  </header>

  <main class="sundress">
    <h1>Реферальная программа Sundress</h1>
    <p>Команда разработчиков Rotten Tomatoes предлагает Вам стать одим из первых клиентов продукта Sundress!</p>
    <p>Наш продукт создан, чтобы предстваить в электронном формате самый надежный и древний способ рекламы, прозванный "сарафанное радио".</p>
    <p>Что может предложить наш сервис?</p>
    <ul><img class="prople" src="./images/people.png" alt="Изображение людей" width="600" align="right" vspace="5" hspace="5">
      <li>Персонал
        <p>Вам не придется нанимать операторов для привлечения клиентов в ваш магазин. Вместо них работать будут ваши <strong>КЛИЕНТЫ</strong></p>
        </li>
      <li>Целевая аудитория
        <p>Быстрое привлечение людей, <strong>заинтересованных</strong> в вашем продукте</p>
        </li>
      <li>Доверие
        <p>Психологи утверждают, что человек склонен доверять более <strong>близким людям</strong>, нежели самым харизматичным незнакомцам с экрана</p>
        </li>
      <li>Ведение бюджета
        <p>Вам не придется регулярно выделять часть бюждета компании на оплату услуг сервисов и рабочих. Средства на оплату рекламы будут выделяться <strong>из стоимости самого продукта</strong>.</p>
        </li>
    </ul>
    <p>Связаться с нами для дальнейшего обсуждения можно по контактному телефону</p>
    <h2>+7(995)305-78-05</h2>
  </main>

  <footer class="home">
    <p>
      Компания: Rotten Tomatoes
      <br>
      Контактные данные: +7(995)305-78-05
    </p>
  </footer>
  <script src="./js/utils.js"></script>
  <script>utils.init_theme_change();</script>
</body>
</html>
