<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Товар</title>
</head>

<body>

    <main>
        <h1>Продукт</h1>
        <p class="data">Изображение</p>
        <p class="data">Название</p>
        <p class="data">Цена</p>
        <p class="data">Описание</p>
    </main>
</body>

</html>